@import '../../styles/functions/util.scss';
@import '../../styles/variables.scss';

.tan-cell-group {
	&.tan-cell-group--inset {
		margin: var(	
			--tan-cell-group-inset-padding,
			$cell-group-inset-padding
		);
		border-radius: var(	
			--tan-cell-group-inset-border-radius,
			$cell-group-inset-border-radius
		);
		overflow: hidden;
	}
}

.tan-cell-group__title {
	padding: var(
		--tan-cell-group-title-padding,
		$cell-group-title-padding
	);

	font-size: var(
		--tan-cell-group-title-font-size, 
		$cell-group-title-font-size	
	);

	line-height: var(
		--tan-cell-group-title-line-height, 
		$cell-group-title-line-height	
	);

	color: var(
		--tan-cell-group-title-color, 
		$cell-group-title-color	
	);

	&.tan-cell-group_title--inset {
		padding: var(
			--tan-cell-group-inset-title-padding,
			$cell-group-inset-title-padding
		);
	}
}

