$class-prefix: 'tan-list';

.#{$class-prefix} {
	--header-font-size: 30px;
  --prefix-width: 'auto';
  --prefix-padding-right: 24px;
  --align-items: center;
  --active-background-color: var(--tan-border-color);
  --border-inner: solid 1px var(--tan-border-color);
  --border-top: solid 1px var(--tan-border-color);
  --border-bottom: solid 1px var(--tan-border-color);
	--padding-horizontal: 24px;
	--padding-vertical: 16px;
  --font-size: 34px;
	--description-font-size: 26px;
	--card-margin: 24px;
	--card-radius: 32px;
	--arrow-font-size: 38px; 
	--arrow-margin-left: 8px;

  &-header {
    color: var(--tan-color-weak);
    font-size: var(--header-font-size);
    padding: var(--padding-vertical) var(--padding-horizontal);
  }

	&-body {
    background-color: #ffffff;
    overflow: hidden;
    font-size: var(--font-size);
  }

	&-body-inner {
    margin-top: -2px;
  }

	&.#{$class-prefix}-default {
    .#{$class-prefix}-body {
      border-top: var(--border-top);
      border-bottom: var(--border-bottom);
    }
  }

	&.#{$class-prefix}-card {
    margin: var(--card-margin);

    .#{$class-prefix}-body {
      border-radius: var(--card-radius);
    }

    .#{$class-prefix}-header {
      padding-left: 0;
    }
  }
}


.#{$class-prefix}-item {
	display: block;
  padding-left: var(--padding-horizontal);
  position: relative;
  &-title,
  &-description {
    color: var(--tan-color-weak);
    font-size: var(--description-font-size);
  }
  &-content {
    display: flex;
    align-items: var(--align-items);
    justify-content: flex-start;
    border-top: var(--border-inner);
    padding-right: var(--padding-horizontal);
    &-prefix {
      width: var(--prefix-width);
      flex: none;
      padding-right: var(--prefix-padding-right);
    }
    &-main {
      flex: auto;
      padding: var(--padding-horizontal) 0;
    }
    &-extra {
      flex: none;
      padding-left: var(--padding-horizontal);
      font-size: 15px;
      color: var(--tan-color-weak);
    }
    &-arrow {
      flex: none;
      display: flex;
      align-items: center;
      margin-left: var(--arrow-margin-left);
      color: var(--tan-color-light);
      font-size: var(--arrow-font-size);
    }
  }
}

.#{$class-prefix}-item-disabled {
	.tan-list-item-content  {
		opacity: 0.4;
		pointer-events: none;
	}
}

.#{$class-prefix}-item-clickable {
	background-color: var(--active-background-color);
}