@import '../../styles/variables.scss';

.tan-empty {
	--padding-vertical: var(--tan-empty-padding-v, #{$empty-vertical-padding});
	--padding-horizontal: var(--tan-empty-padding-h, #{$empty-horizontal-padding});
	--image-width: var(--tan-empty-image-width, #{$empty-image-size});
	--image-height: var(--tan-empty-image-height, #{$empty-image-size});
	--description-margin-top: var(
		--tan-empty-description-margin-top, 
		#{$empty-description-margin-top}
	);
	--description-vertical-padding: var(
		--tan-empty-description-vertical-padding,
		#{$empty-description-vertical-padding}
	);
	--description-horizontal-padding: var(
		--tan-empty-description-horizontal-padding,
		#{$empty-description-horizontal-padding}
	);
	--description-color: var(
		--tan-empty-description-color,
		#{$empty-description-color}
	);
	--description-font-size: var(
		--tan-empty-description-font-size,
		#{$empty-description-font-size}
	);
	--description-line-height: var(
		--tan-empty-description-line-height,
		#{$empty-description-line-height}
	);
	--bottom-margin-top: var(
		--tan-empty-bottom-margin-top,
		#{$empty-bottom-margin-top}
	);

	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
	padding: var(--padding-vertical) var(--padding-horizontal);

	&__image {
		width: var(--image-width);
		height: var(--image-height);

		&__img {
			width: 100%;
			height: 100%;
		}
	}

	&__description {
		margin-top: var(--description-margin-top);
		padding: var(--description-vertical-padding) var(--description-horizontal-padding);
		color: var(--description-color);
		font-size: var(--description-font-size);
		line-height: var(--description-line-height);
	}

	&__bottom {
		margin-top: var(--bottom-margin-top);
	}
}