@import '../../styles/variables.scss';

$block: #{$prefix}-info;

.#{$block} {
	--height: var(--#{$block}-height, #{$info-size});
	--min-width: var(--#{$block}-width, #{$info-size});
	--padding: var(--#{$block}-padding, #{$info-padding});
	--color: var(--#{$block}-color, #{$info-color});
	--font-weight: var(--#{$block}-font-weight, #{$info-font-weight});
	--font-size: var(--#{$block}-font-size, #{$info-font-size});
	--font-family: var(--#{$block}-font-family, #{$info-font-family}); 
	--background-color: var(--#{$block}-background-color, #{$info-background-color}); 
	--border-width: var(--#{$block}-border-width, #{$info-border-width});
	--border-radius: var(--#{$block}-border-radius, #{$info-size});
	--dot-width: var(--#{$block}-dot-width, #{$info-dot-size});
	--dot-height: var(--#{$block}-dot-height, #{$info-dot-size});
	--dot-background-color: var(--#{$block}-dot-background-color, #{$info-dot-color});

	position: absolute;
  top: 0;
  right: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
  transform: translate(50%, -50%);
  transform-origin: 100%;
	height: var(--height);
	min-width: var(--min-width);
	padding: var(--padding);
	color: var(--color);
	font-weight: var(--font-weight);
	font-size: var(--font-size);
	font-family: var(--font-family);
	background-color: var(--background-color);
	border: var(--border-width) solid var(--#{$prefix}-color-white);
	border-radius: var(--border-radius);

	&--dot {
		min-width: 0;
		border-radius: 100%;
		width: var(--dot-width);
		height: var(--dot-height);
		background-color: var(--dot-background-color);
	}
}
