@import '../../styles/variables.scss';
@import '../../styles/functions/util.scss';

.tan-tabbar-item {
	--color: var(--tan-tabbar-item-color, #{$tabbar-item-text-color});
	--active-color: var(--tan-tabbar-item-active-color, #{$tabbar-item-active-color});
	--font-size: var(--tan-tabbar-item-font-size, #{$tabbar-item-font-size});
	--line-height: var(--tan-tabbar-item-line-height, #{$tabbar-item-line-height});
	--icon-margin-bottom: var(--tan-tabbar-item-icon-margin-bottom, #{$tabbar-item-icon-margin-bottom});
	--icon-font-size: var(--tan-tabbar-item-icon-font-size, #{$tabbar-item-icon-font-size});
	--info-margin-top: var(--tan-tabbar-item-info-margin-top, #{$tabbar-item-info-margin-top});

	flex: 1;
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
	color: var(--color);
	font-size: var(--font-size);
	line-height: var(--line-height);

	&__icon {
		position: relative;
		margin-bottom: var(--icon-margin-bottom);
		font-size: var(--icon-font-size);

		&__inner {
			display: block;
      min-width: 1em;
		}
	}

	&--active {
		color: var(--active-color);
	}

	&__info {
		margin-top: var(--info-margin-top);
	}
}