@font-face {
  font-family: "tan-icon"; /* Project id 3353570 */
  src: url('//at.alicdn.com/t/font_3353570_pa2mnpg34a.woff2?t=1653030574582') format('woff2'),
       url('//at.alicdn.com/t/font_3353570_pa2mnpg34a.woff?t=1653030574582') format('woff'),
       url('//at.alicdn.com/t/font_3353570_pa2mnpg34a.ttf?t=1653030574582') format('truetype');
}

.tan-icon {
  font-family: "tan-icon" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tan-icon-question-o:before {
  content: "\e749";
}

.tan-icon-arrow-left:before {
  content: "\e694";
}

.tan-icon-arrow:before {
  content: "\e695";
}

.tan-icon-arrow-up:before {
  content: "\e696";
}

.tan-icon-arrow-down:before {
  content: "\e697";
}