@font-face {
  font-family: "tan-icon"; /* Project id 3353570 */
  src: url('//at.alicdn.com/t/font_3353570_61x9891htdi.woff2?t=1654047680955') format('woff2'),
       url('//at.alicdn.com/t/font_3353570_61x9891htdi.woff?t=1654047680955') format('woff'),
       url('//at.alicdn.com/t/font_3353570_61x9891htdi.ttf?t=1654047680955') format('truetype');
}

.tan-icon {
  font-family: "tan-icon" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tan-icon-question-o:before {
  content: "\e749";
}

.tan-icon-success:before {
  content: "\e75d";
}

.tan-icon-close:before {
  content: "\e6c5";
}

.tan-icon-cross:before {
  content: "\e69d";
}

.tan-icon-fail:before {
  content: "\e6a1";
}

.tan-icon-arrow-left:before {
  content: "\e694";
}

.tan-icon-arrow:before {
  content: "\e695";
}

.tan-icon-arrow-up:before {
  content: "\e696";
}

.tan-icon-arrow-down:before {
  content: "\e697";
}
