@import './functions/util.scss';

// Icon
$icon-size: #{calculate(18px)};
$icon-color: #323233;

// Cell
$cell-horizontal-padding: var(--tan-padding-md);
$cell-vertical-padding: #{calculate(10px)};
$cell-font-size: var(--tan-font-size-md);
$cell-line-height: #{calculate(24px)};
$cell-text-color: var(--tan-color-text);
$cell-background-color: var(--tan-color-white);
$cell-border-color: var(--tan-border-color);
$cell-label-margin-top: #{calculate(3px)};
$cell-label-font-size: var(--tan-font-size-sm);
$cell-label-line-height: #{calculate(18px)};
$cell-label-color: var(--tan-color-gray-6);
$cell-value-color: var(--tan-color-gray-6);
$cell-icon-size: #{calculate(16px)};
$cell-required-left: var(--tan-padding-xs);
$cell-required-color: var(--tan-color-red);
$cell-actived-color: var(--tan-color-active);
$cell-left-icon-margin-right: var(--tan-padding-base);
$cell-right-icon-margin-left: var(--tan-padding-base);
$cell-right-icon-color: var(--tan-color-gray-6);
$cell-large-vertical-padding: var(--tan-padding-sm);
$cell-large-title-font-size: var(--tan-font-size-lg);
$cell-large-value-font-size: var(--tan-font-size-lg);
$cell-large-label-font-size: var(--tan-font-size-md);

// CellGroup
$cell-group-title-color: var(--tan-color-gray-6);
$cell-group-title-padding: var(--tan-padding-md) var(--tan-padding-md) var(--tan-padding-xs);
$cell-group-title-font-size: var(	--tan-font-size-md);
$cell-group-title-line-height: #{calculate(16px)};
$cell-group-inset-title-padding: var(--tan-padding-md) var(--tan-padding-md) var(--tan-padding-xs) var(--tan-padding-xl);
$cell-group-inset-padding: 0 var(--tan-padding-md);
$cell-group-inset-border-radius: var(--tan-border-radius-lg);

// Info
$info-size: #{calculate(16px)};
$info-color: var(--tan-color-white);
$info-padding: 0 #{calculate(3px)};
$info-font-size: #{calculate(12px)};
$info-font-weight: 500;
$info-border-width: 1px;
$info-background-color: var(--tan-color-red);
$info-dot-color: var(--tan-color-red);
$info-dot-size: #{calculate(8px)};
$info-font-family: -apple-system-font, Helvetica Neue, Arial, sans-serif;

// Loading
$loading-spinner-color: var(--tan-color-gray-5); 
$loading-spinner-size: #{calculate(30px)};
$loading-spinner-animation-duration: 0.8s;
$loading-text-color: var(--tan-color-gray-6);
$loading-text-font-size: var(--tan-font-size-md);
$loading-text-line-height: #{calculate(20px)};

// Button
$button-mini-height: #{calculate(22px)};
$button-mini-min-width: #{calculate(50px)};
$button-mini-font-size: var(--tan-font-size-xs);
$button-small-height: #{calculate(30px)};
$button-small-font-size: var(--tan-font-size-sm);
$button-small-min-width: #{calculate(60px)};
$button-normal-font-size: var(--tan-font-size-md);
$button-normal-padding: 0 #{calculate(15px)};
$button-large-height: #{calculate(50px)};
$button-default-color: var(--tan-color-text);
$button-default-height: #{calculate(44px)};
$button-default-font-size: var(--tan-font-size-lg);
$button-default-background-color: var(--tan-color-white);
$button-default-border-color: var(--tan-border-color);
$button-primary-color: var(--tan-color-white);
$button-primary-background-color: var(--tan-color-green);
$button-primary-border-color: var(--tan-color-green);
$button-info-color: var(--tan-color-white);
$button-info-background-color: var(--tan-color-blue);
$button-info-border-color: var(--tan-color-blue);
$button-danger-color: var(--tan-color-white);
$button-danger-background-color: var(--tan-color-red);
$button-danger-border-color: var(--tan-color-red);
$button-warning-color: var(--tan-color-white);
$button-warning-background-color: var(--tan-color-orange);
$button-warning-border-color: var(--tan-color-orange);
$button-line-height: #{calculate(20px)};
$button-border-width: 1px;
$button-border-radius: var(--tan-border-radis-sm);
$button-round-border-radius: var(--tan-border-radius-max);
$button-plain-background-color: var(--tan-color-white);
$button-disabled-opacity: 0.5;
$button-default-height: #{calculate(44px)};
$button-loading-size: #{calculate(20px)};
$button-loading-color: var(--tan-color-white);
$button-plain-loading-color: '#c9c9c9';

// NavBar
$nav-bar-height: #{calculate(46px)};
$nav-bar-background-color: var(--tan-color-white);
$nav-bar-arrow-size: #{calculate(16px)};
$nav-bar-icon-color: var(--tan-color-gray-5);
$nav-bar-text-color: var(--tan-color-gray-5);
$nav-bar-title-font-size: var(--tan-font-size-lg);
$nav-bar-title-text-color: var(--tan-color-text);

// Image
$image-placeholder-text-color: var(--tan-color-gray-6);
$image-placeholder-font-size: var(--tan-font-size-md);
$image-placeholder-background-color: var(--tan-color-gray-1);
$image-loading-icon-color: var(--tan-color-gray-4);
$image-loading-icon-size: #{calculate(32px)};
$image-error-icon-size: #{calculate(32px)};
$image-error-icon-color: var(--tan-color-gray-4);

// Field
$field-label-color: var(--tan-color-gray-7);
$field-input-text-color: var(--tan-color-text);
$field-input-error-text-color: var(--tan-color-red);
$field-input-disabled-text-color: var(--tan-color-gray-5);
$field-placeholder-text-color: var(--tan-color-gray-5);
$field-icon-size: #{calculate(16px)};
$field-clear-icon-size: #{calculate(16px)};
$field-clear-icon-color: var(--tan-color-gray-5);
$field-icon-container-color: var(--tan-color-gray-6);
$field-error-message-color: var(--tan-color-red);
$field-error-message-text-font-size: var(--tan-font-size-sm);
$field-text-area-min-height: #{calculate(18px)};
$field-word-limit-color: var(--tan-color-gray-7);
$field-word-limit-font-size: var(--tan-font-size-sm);
$field-word-limit-line-height: #{calculate(16px)};
$field-word-num-full-color: var(--tan-color-red);
$field-disabled-text-color: var(--tan-color-gray-5);
$field-label-width: 6.2em;

// Empty
$empty-vertical-padding: var(--tan-padding-xl);
$empty-horizontal-padding: 0;
$empty-image-size: #{calculate(160px)};
$empty-description-margin-top: var(--tan-padding-md);
$empty-description-vertical-padding: 0;
$empty-description-horizontal-padding: #{calculate(60px)};
$empty-description-color: var(--tan-color-gray-6);
$empty-description-font-size: #{calculate(14px)};
$empty-description-line-height: #{calculate(20px)};
$empty-bottom-margin-top: #{calculate(24px)};

// Overlay
$overlay-background-color: rgba(0, 0, 0, 0.7);

// Toast
$toast-max-width: 70%;
$toast-font-size: #{calculate(14px)};
$toast-text-color: var(--tan-color-white);
$toast-line-height: #{calculate(20px)};
$toast-border-radius: var(--tan-border-radius-lg);
$toast-background-color: opacify(#000, 0.7);
$toast-icon-size: #{calculate(36px)};
$toast-text-min-width: #{calculate(96px)};
$toast-text-padding: var(--tan-padding-xs) var(--tan-padding-sm);
$toast-default-padding: var(--tan-padding-md);
$toast-default-width: #{calculate(88px)};
$toast-default-min-height: #{calculate(88px)};
$toast-overlay-background-color: transparent;

// Popup
$popup-background-color: var(--tan-color-white);
$popup-round-border-radius: #{calculate(16px)};
$popup-close-icon-size: #{calculate(18px)};
$popup-close-icon-color: var(--tan-color-gray-6);
$popup-close-icon-margin: #{calculate(16px)};
$popup-close-icon-z-index: 1;

// Dialog
$dialog-width: #{calculate(320px)};
$dialog-small-screen-width: 90%;
$dialog-font-size: var(--tan-font-size-lg);
$dialog-border-radius: #{calculate(16px)};
$dialog-background-color: var(--tan-color-white);
$dialog-header-font-weight: var(--tan-font-weight-bold);
$dialog-header-line-height: #{calculate(24px)};
$dialog-header-padding-top: var(--tan-padding-lg);
$dialog-header-isolated-padding: var(--tan-padding-lg) 0;
$dialog-message-padding: var(--tan-padding-lg);
$dialog-message-font-size: var(--tan-font-size-md);
$dialog-message-line-height: #{calculate(20px)};
$dialog-message-max-height: 60vh;
$dialog-has-title-message-text-color: var(--tan-color-gray-7);
$dialog-has-title-message-padding-top: var(--tan-padding-xs);
$dialog-confirm-button-color: var(--tan-color-red);
$dialog-cancel-button-color: var(--tan-color-gray-8);