@import '../../styles/variables.scss';

$block: #{$prefix}-progress;

.#{$block} {
	--height: var(--#{$block}-height, #{$progress-height});
	--background-color: var(--#{$block}-background-color, #{$progress-background-color});
	--portion-color: var(--#{$block}-color, #{$progress-color});
	--portion-inactive-color: var(--#{$block}-portion-inactive-color, #{$progress-inactive-color});
	--portion-transition-duration: var(--#{$block}-portion-transition-duration, 0.5s);
	--pivot-text-color: var(--#{$block}-pivot-text-color, #{$progress-pivot-text-color});
	--pivot-padding: var(--#{$block}-pivot-padding, #{$progress-pivot-padding});
	--pivot-font-size: var(--#{$block}-pivot-font-size, #{$progress-pivot-font-size});
	--pivot-line-height: var(--#{$block}-pivot-line-height, #{$progress-pivot-line-height});
	--pivot-background-color: var(--#{$block}-pivot-background-color, #{$progress-pivot-background-color});

	position: relative;
	height: var(--height);
	border-radius: var(--height);
	background: var(--background-color);

	&__portion {
		position: absolute;
    left: 0;
		width: 0;
    height: 100%;
    border-radius: inherit;
    background: var(--portion-color);
		transition-property: width;
		transition-duration: var(--portion-transition-duration);

		&--inactive {
			background: var(--portion-inactive-color);
		}
	}

	&__pivot {
		position: absolute;
    top: 50%;
    box-sizing: border-box;
    min-width: 3.6em;
    text-align: center;
    word-break: keep-all;
    border-radius: 1em;
		transform: translate(0, -50%);
		color: var(--pivot-text-color);
		padding: var(--pivot-padding);
		font-size: var(--pivot-font-size);
		line-height: var(--pivot-line-height);
		background-color: var(--pivot-background-color);
	}
}