.tan-transition {
	--fade-up-enter-leave-y: 100%;
	--fade-down-enter-leave-y: -100%;
	--fade-left-enter-leave-x: -100%;
	--fade-right-enter-leave-x: 100%;
	--slide-up-enter-leave-y: 100%;
	--slide-down-enter-leave-y: -100%;
	--slide-left-enter-leave-x: -100%;
	--slide-right-enter-leave-x: 100%;

  transition-timing-function: ease;

	&--hide {
		display: none;
	}
}

.tan-fade-enter-active,
.tan-fade-leave-active {
  transition-property: opacity;
}

.tan-fade-enter,
.tan-fade-leave-to {
  opacity: 0;
}

.tan-fade-up-enter-active,
.tan-fade-up-leave-active,
.tan-fade-down-enter-active,
.tan-fade-down-leave-active,
.tan-fade-left-enter-active,
.tan-fade-left-leave-active,
.tan-fade-right-enter-active,
.tan-fade-right-leave-active {
  transition-property: opacity, transform;
}

.tan-fade-up-enter,
.tan-fade-up-leave-to {
  transform: translate3d(0, var(--fade-up-enter-leave-y), 0);
  opacity: 0;
}

.tan-fade-down-enter,
.tan-fade-down-leave-to {
  transform: translate3d(0, var(--fade-down-enter-leave-y), 0);
  opacity: 0;
}

.tan-fade-left-enter,
.tan-fade-left-leave-to {
  transform: translate3d(var(--fade-left-enter-leave-x), 0, 0);
  opacity: 0;
}

.tan-fade-right-enter,
.tan-fade-right-leave-to {
  transform: translate3d(var(--slide-right-enter-leave-x), 0, 0);
  opacity: 0;
}

.tan-slide-up-enter-active,
.tan-slide-up-leave-active,
.tan-slide-down-enter-active,
.tan-slide-down-leave-active,
.tan-slide-left-enter-active,
.tan-slide-left-leave-active,
.tan-slide-right-enter-active,
.tan-slide-right-leave-active {
  transition-property: transform;
}

.tan-slide-up-enter,
.tan-slide-up-leave-to {
  transform: translate3d(0, var(--slide-up-enter-leave-y), 0);
}

.tan-slide-down-enter,
.tan-slide-down-leave-to {
  transform: translate3d(0, var(--slide-down-enter-leave-y), 0);
}

.tan-slide-left-enter,
.tan-slide-left-leave-to {
  transform: translate3d(var(--slide-left-enter-leave-x), 0, 0);
}

.tan-slide-right-enter,
.tan-slide-right-leave-to {
  transform: translate3d(var(--slide-right-enter-leave-x), 0, 0);
}
