@import '../../styles/variables.scss';

.tan-icon-container {
	--size: var(--tan-icon-size, #{$icon-size});
	--color: var(--tan-icon-color, #{$icon-color});

	position: relative;
	display: inline-flex;
  align-items: center;
  justify-content: center;
	font-size: var(--size);
	color: var(--color);

	&.tan-icon__info {
		z-index: 1;
	}

	&.tan-icon__image {
		width: 100%;
    height: 100%;
  }
}