@import '../../styles/variables.scss';

$block: #{$prefix}-icon;

.#{$block} {
	--size: var(--#{$block}-size, #{$icon-size});
	--color: var(--#{$block}-color, #{$icon-color});

	position: relative;
	display: inline-flex;
  align-items: center;
  justify-content: center;
	font-size: var(--size);
	color: var(--color);

	&--image {
		width: 1em;
		height: 1em;
	}

	&__info {
		z-index: 1;
	}

	&__image {
		width: 100%;
    height: 100%;
	}
}