@import '../../styles/variables.scss';

$block: #{$prefix}-notify;

.#{$block} {
	--top: var(--#{$block}-top, 0);
	--z-index: var(--#{$block}-z-index, 110);
	--content-padding: var(--#{$block}-content-padding, #{$notify-padding});
	--content-font-size: var(--#{$block}-content-font-size, #{$notify-font-size});
	--content-line-height: var(--#{$block}-content-line-height, #{$notify-line-height});
	--primary-color: var(--#{$block}-primary-color, #{$notify-primary-color});
	--success-color: var(--#{$block}-success-color, #{$notify-success-color});
	--danger-color: var(--#{$block}-danger-color, #{$notify-danger-color});
	--warning-color: var(--#{$block}-warning-color, #{$notify-warning-color});

	width: 100%;
	position: fixed;
	top: var(--top);
	left: 0;
	box-sizing: border-box;
	z-index: var(--z-index);

	&__content {
		text-align: center;
		word-wrap: break-word;
		padding: var(--content-padding);
		font-size: var(--content-font-size);
		line-height: var(--content-line-height);

		&--primary {
			background-color: var(--primary-color);
		}

		&--success {
			background-color: var(--success-color);
		}

		&--danger {
			background-color: var(--danger-color);
		}

		&--warning {
			background-color: var(--warning-color);
		}
	}
}