@import '../../styles/variables.scss';

$block: #{$prefix}-divider;

.#{$block} {
	--margin: var(--#{$block}-margin, #{$divider-margin});
	--text-color: var(--#{$block}-text-color, #{$divider-text-color});
	--font-size: var(--#{$block}-font-size, #{$divider-font-size});
	--line-height: var(--#{$block}-line-height, #{$divider-line-height});
	--border-color: var(--#{$block}-border-color, #{$divider-border-color});
	--content-padding: var(--#{$block}-content-padding, #{$divider-content-padding});
	--content-left-width: var(--#{$block}-content-left-width, #{$divider-content-left-width});
	--content-right-width: var(--#{$block}-content-right-width, #{$divider-content-right-width});

	display: flex;
  align-items: center;
  border-style: solid;
  border-width: 0;
	margin: var(--margin);
	color: var(--text-color);
	font-size: var(--font-size);
	line-height: var(--line-height);
	border-color: var(--border-color);

	&::before,
  &::after {
    display: block;
    flex: 1;
    box-sizing: border-box;
    height: 1px;
    border-color: inherit;
    border-style: inherit;
    border-width: 1px 0 0;
  }

	&::before {
    content: '';
  }

  &--hairline {
    &::before,
    &::after {
      transform: scaleY(0.5);
    }
  }

	&--dashed {
    border-style: dashed;
  }

	&--center,
  &--left,
  &--right {
    &::before {
      margin-right: var(--content-padding);
    }

    &::after {
      content: '';
      margin-left: var(--content-padding);
    }
  }

  &--left {
    &::before {
      max-width: var(--content-left-width);
    }
  }

  &--right {
    &::after {
      max-width: var(--content-right-width);
    }
  }
}