.basic {
	width: 100px;
	height: 100px;
}

.fit {
	width: 100%;
	height: 27vw;
}

.colFit {
	margin-right: 20px;
}

.text {
  width: 100%;
  margin: 10px 0 40px;
  color: #7d7e80;
  font-size: 28px;
  text-align: center;
}

.round {
	width: 200px;
	height: 27vw;	
}

.loading {
	width: 100%;
	height: 27vw;
}