@import '../../styles/variables.scss';

.tan-uploader {
	--upload-width: var(--tan-uploader-width, #{$uploader-size});
	--upload-height: var(--tan-upload-height, #{$uploader-size});
	--upload-margin: var(--tan-uploader-margin, #{$uploader-margin});
	--upload-background-color: var(
		--tan-uploader-background-color, 
		#{$uploader-background-color}
	);
	--upload-active-color: var(
		--tan-uploader-active-color, 
		#{$uploader-active-color}
	);
	--upload-icon-color: var(
		--tan-uploader-icon-color,
		#{$uploader-icon-color}
	);
	--upload-icon-size: var(
		--tan-uploader-icon-size,
		#{$uploader-icon-size}
	);
	--upload-text-margin: var(
		--tan-uploader-text-margin,
		#{$uploader-text-margin}
	);
	--upload-text-color: var(
		--tan-uploader-text-color,
		#{$uploader-text-color}
	);
	--upload-text-font-size: var(
		--tan-uploader-text-font-size,
		#{$uploader-text-font-size}
	);
	--upload-disabled-opacity: var(
		--tan-uploader-disabled-opacity,
		#{$uploader-disabled-opacity}
	);
	--preview-margin: var(
		--tan-uploader-preview-margin,
		#{$uploader-preview-margin}
	);
	--delete-icon-width: var(
		--tan-uplaoder-delete-icon-width,
		#{$uploader-delete-icon-size}
	);
	--delete-icon-height: var(
		--tan-uploader-delete-icon-height,
		#{$uploader-delete-icon-size}
	);
	--delete-background-color: var(
		--tan-uploader-delete-background-color,
		#{$uploader-delete-background-color}
	);
	--delete-border-radius: var(
		--tan-uploader-delete-border-radius,
		#{$uploader-delete-border-radius}
	);
	--delete-color: var(
		--tan-uploader-delete-color,
		#{$uploader-delete-color}
	);
	--delete-icon-size: var(
		--tan-uploader-delete-icon-size,
		#{$uploader-delete-icon-size}
	);
	--file-background-color: var(
		--tan-uploader-file-background-color,
		#{$uploader-file-background-color}
	);
	--file-icon-color: var(
		--tan-uploader-file-icon-color,
		#{$uploader-file-icon-color}
	);
	--file-icon-size: var(
		--tan-uploader-file-icon-size,
		#{$uploader-file-icon-size}
	);
	--file-name-margin: var(
		--tan-uploader-file-name-margin,
		#{$uploader-file-name-margin}
	);
	--file-name-padding: var(
		--tan-uploader-file-name-padding,
		#{$uploader-file-name-padding}
	);
	--file-name-text-color: var(
		--tan-uploader-file-name-text-color,
		#{$uploader-file-name-text-color}
	);
	--file-name-font-size: var(
		--tan-uploader-file-name-font-size,
		#{$uploader-file-name-font-size}
	);
	--mask-text-color: var(
		--tan-uploader-mask-text-color,
		#{$uploader-mask-text-color}
	);
	--mask-background-color: var(
		--tan-uploader-mask-background-color,
		#{$uploader-mask-background-color}
	);
	--mask-icon-size: var(
		--tan-uploader-mask-icon-size,
		#{$uploader-mask-icon-size}
	);
	--mask-message-margin: var(
		--tan-uploader-mask-message-margin,
		#{$uploader-mask-message-margin}
	);
	--mask-message-padding: var(
		--tan-uploader-mask-message-padding,
		#{$uploader-mask-message-padding}
	);
	--mask-message-font-size: var(
		--tan-uploader-mask-message-font-size,
		#{$uploader-mask-message-font-size}
	);
	--mask-message-line-height: var(
		--tan-uploader-mask-message-line-height,
		#{$uploader-mask-message-line-height}
	);
	--loading-icon-width: var(
		--tan-uploader-loading-icon-width,
		#{$uploader-loading-icon-size}
	);
	--loading-icon-height: var(
		--tan-uploader-loading-icon-height,
		#{$uploader-loading-icon-size}
	);
	--loading-icon-color: var(
		--tan-uploader-loading-icon-color,
		#{$uploader-loading-icon-color}
	);

	position: relative;
  display: inline-block;

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	&__upload {
		position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
		width: var(--upload-width);
		height: var(--upload-height);
		margin: var(--upload-margin);
		background-color: var(--upload-background-color);

		&-hover {
			background-color: var(--upload-active-color);
		}

		&-icon {
			color: var(--upload-icon-color);
			font-size: var(--upload-icon-size);
		}

		&-text {
			margin-top: var(--upload-text-margin);
			color: var(--upload-text-color);
			font-size: var(--upload-text-font-size);
		}

		&--disabled {
			opacity: var(--upload-disabled-opacity);
		}
	}	

	&__preview {
		position: relative;
    cursor: pointer;
		margin: var(--preview-margin);

		&-image {
			display: block;
			overflow: hidden;
			width: var(--upload-width);
			height: var(--upload-height);
		}

		&-delete {
			position: absolute;
      top: 0;
      right: 0;
			width: var(--delete-icon-width);
			height: var(--delete-icon-height);

			&::after {
				position: absolute;
        top: 0;
        right: 0;
        content: '';
				width: var(--delete-icon-width);
				height: var(--delete-icon-height);
				background-color: var(--delete-background-color);
				border-radius: var(--delete-border-radius);
			}

			&-icon {
				position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
				color: var(--delete-color);
				font-size: var(--delete-icon-size);
				transform: scale(0.7) translate(10%, -10%);;
			}
		}

		&__file {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: var(--upload-width);
			height: var(--upload-height);
			background-color: var(--file-background-color);

			&-icon {
				color: var(--file-icon-color);
				font-size: var(--file-icon-size);
			}

			&-name {
				box-sizing: border-box;
				width: 100%;
				text-align: center;
				margin: var(--file-name-margin);
				padding: var(--file-name-padding);
				color: var(--file-name-text-color);
				font-size: var(--file-name-font-size);
			}
		}
	}

	&__mask {
		position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
		color: var(--mask-text-color);
		background-color: var(--mask-background-color);

		&-icon {
			font-size: var(--mask-icon-size);
		}

		&-message {
			margin: var(--mask-message-margin);
			padding: var(--mask-message-padding);
			font-size: var(--mask-message-font-size);
			line-height: var(--mask-message-line-height);
		}
	}

	&__loading {
		width: var(--loading-icon-width);
		height: var(--loading-icon-height);
		color: var(--loading-icon-color);
	}
}