.container {
	.customSize {
		--font-size: 36px;
	}

	.customColor {
		--background-color: #ee0a24;
		--on-background-color: #07c160;
	}

	.customLoadingColor {
		--loading-actived-color: #ee0a24;
	}
}