.container {
	background: #FFFFFf;
	:global {
		.tan-radio--vertical {
			margin-bottom: 10px;
		}
	}

	.singleUsed {
		:global {
			.tan-radio {
				margin-bottom: 10px;
			}
		}
	}

	.customColors {
		--tan-radio-checked-icon-color: #07c160;
	}

	.customSize {
		--tan-radio-font-size: 50px;	
	}
}