@import '../../styles/variables.scss';

$block-prefix: #{$prefix}-checkbox;

.#{$block-prefix} {
	--margin-right: var(--#{$block-prefix}-margin-right, var(--#{$prefix}-padding-sm));
	--checkbox-size: var(--#{$block-prefix}-size, #{$checkbox-size});
	--border-color: var(--#{$block-prefix}-border-color, #{$checkbox-border-color});
	--transition-duration: var(--#{$block-prefix}-transition-duration, #{$checkbox-transition-duration});
	--checked-icon-color: var(--#{$block-prefix}-checked-icon-color, #{$checkbox-checked-icon-color});
	--disabled-background-color: var(--#{$block-prefix}-disabled-background-color, #{$checkbox-disabled-background-color});
	--disabled-icon-color: var(--#{$block-prefix}-disabled-icon-color, #{$checkbox-disabled-icon-color});
	--label-margin: var(--#{$block-prefix}-label-margin, #{$checkbox-label-margin});
	--label-color: var(--#{$block-prefix}-label-color, #{$checkbox-label-color});
	--label-font-size: var(--#{$block-prefix}-label-font-size, #{$checkbox-label-font-size});
	--disabled-label-color: var(--#{$block-prefix}-disabled-label-color, #{$checkbox-disabled-label-color});

	display: flex;
  align-items: center;
  overflow: hidden;
  user-select: none;

	&--horizontal {
    margin-right: var(--margin-right);
  }

	&__icon-wrap,
	&__label {
		line-height: var(--checkbox-size);
	}

	&__icon-wrap {
		flex: none;
	}

	&__icon {
		display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 1em;
    height: 1em;
    color: transparent;
    text-align: center;
    transition-property: color, border-color, background-color;
		font-size: var(--checkbox-size);
		border: 1px solid var(--border-color);
		transition-duration: var(--transition-duration);

		&--round {
      border-radius: 100%;
    }

		&--checked {
      color: var(--#{$prefix}-color-white);
      background-color: var(--checked-icon-color);
      border-color: var(--checked-icon-color);
    }

		&--disabled {
			background-color: var(--disabled-background-color);
			border-color: var(--disabled-icon-color);

			&.#{$block-prefix}__icon--checked {
				color: var(--disabled-icon-color);
			}
		}
	}

	&__label {
		word-wrap: break-word;
		padding-left: var(--label-margin);
		color: var(--label-color);
		font-size: var(--label-font-size);

		&--left {
			float: left;
			margin: 0 var(--label-margin) 0 0 ;
		}

		&--disabled {
			color: var(--disabled-label-color);
		}

		&:empty {
			margin: 0;
		}
	}
}