@import '../../styles/variables.scss';

.tan-overlay {
	--background-color: var(--tan-overlay-background-color, #{$overlay-background-color});
	
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	background-color: var(--background-color);
}