@import '../../styles/variables.scss';

.#{$prefix}-dropdown-menu {
	--box-shadow: var(
		--#{$prefix}-dropdown-menu-box-shadow, 
		#{$dropdown-menu-box-shadow}
	);
	--height: var(
		--#{$prefix}-dropdown-menu-height, 
		#{$dropdown-menu-height}
	);
	--background-color: var(
		--#{$prefix}-dropdown-menu-background-color, 
		#{$dropdown-menu-background-color}
	);

	display: flex;
	user-select: none;
	box-shadow: var(--box-shadow);
	height: var(--height);
	background-color: var(--background-color);
}