@import '../../styles/variables.scss';

.tan-image {
	--placeholder-text-color: var(
		--tan-image-placeholder-text-color, 
		#{$image-placeholder-text-color}
	);
	--placeholder-font-size: var(
		--tan-image-placeholder-font-size, 
		#{$image-placeholder-font-size}
	);
	--placeholder-background-color: var(
		--tan-image-placeholder-background-color, 
		#{$image-placeholder-background-color}
	);
	--loading-icon-color: var(
		--tan-image-loading-icon-color,
		#{$image-loading-icon-color}
	);
	--loading-icon-size: var(
		--tan-image-loading-icon-size,
		#{$image-loading-icon-size}
	);
	--error-icon-color: var(
		--tan-image-error-icon-color,
		#{$image-error-icon-color}
	);
	--error-icon-size: var(
		--tan-image-error-icon-size,
		#{$image-error-icon-size}
	);

	position: relative;
  display: inline-block;

	&.tan-image--round {
		overflow: hidden;
    border-radius: 50%;

		.tan-image__img {
			border-radius: inherit;
		}
	}

	.tan-image__img,
	.tan-image__error,
	.tan-image__loading {
		display: block;
    width: 100%;
    height: 100%;
	}

	.tan-image__error,
	.tan-image__loading {
		position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
		color: var(--placeholder-text-color);
		font-size: var(--placeholder-font-size);
		background-color: var(--placeholder-background-color);
	}

	.tan-image__loading-icon {
		color: var(--loading-icon-color);
		font-size: var(--loading-icon-size);
	}

	.tan-image__error-icon {
		color: var(--error-icon-color);
		font-size: var(--error-icon-size);
	}
}