@import '../../styles/variables.scss';

.tan-field {
	--cell-icon-size: var(
		--tan-field-icon-size, 
		#{$field-icon-size}
	);
	--cell-title-flex: none;
	--label-width: var(--tan-field-label-width, #{$field-label-width});
	--label-color: var(--tan-field-label-color, #{$field-label-color});
	--disabled-text-color: var(--tan-field-disabled-text-color, #{$field-disabled-text-color});
	--input-text-color: var(--tan-field-input-text-color, #{$field-input-text-color});
	--input-error-text-color: var(--tan-field-input-error-text-color, #{$field-input-error-text-color});
	--input-disabled-text-color: var(--tan-field-input-disabled-text-color, #{$field-input-disabled-text-color});
	--text-area-min-height: var(--tan-field-text-area-min-height, #{$field-text-area-min-height});
	--placeholder-text-color: var(--tan-field-placeholder-text-color, #{$field-placeholder-text-color});
	--error-message-color: var(--tan-field-error-message-color, #{$field-error-message-color});
	--clear-icon-size: var(--tan-field-clear-icon-size, #{$field-clear-icon-size});
	--clear-icon-color: var(--tan-field-clear-icon-color, #{$field-clear-icon-color});
	--icon-container-color: var(--tan-field-icon-container-color, #{$field-icon-container-color});
	--word-limit-color: var(--tan-field-word-limit-color, #{$field-word-limit-color});
	--word-limit-font-size: var(--tan-field-word-limit-font-size, #{$field-word-limit-font-size});
	--word-limit-line-height: var(--tan-field-word-limit-line-height, #{$field-word-limit-font-size});
	--word-num-full-color: var(--tan-field-word-num-full-color, #{$field-word-num-full-color});

	&__label {
		color: var(--label-color);
		width: var(--label-width);

		&--disabled {
			color: var(--disabled-text-color);
		}
	}

	&__body {
		display: flex;
    align-items: center;

		&--textarea {
      box-sizing: border-box;
      padding: 3.6px 0;
      line-height: 1.2em;
      min-height: var(--cell-line-height);
    }
	}

	&__control:empty + &__control {
		display: block;
	}

	&__control {
		position: relative;
    display: none;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: inherit;
    text-align: left;
    background-color: transparent;
    border: 0;
    resize: none;
		color: var(--input-text-color);
		height: var(--cell-line-height);
		min-height: var(--cell-line-height);

		&:empty {
			display: none;
		}

		&--textarea {
			height: var(--text-area-min-height);
			min-height: var(--text-area-min-height)
		}

		&--error {
			color: var(--input-error-text-color);
		}

		&--disabled {
			background-color: transparent;
      opacity: 1;
			color: var(--input-disabled-text-color);
		}

		&--center {
			text-align: center;
		}

		&--right {
			text-align: right;
		}

		&--custom {
			display: flex;
      align-items: center;
			min-height: var(--cell-line-height);
		}	
	}

	&__placeholder {
		position: absolute;
    top: 0;
    right: 0;
    left: 0;
    pointer-events: none;
		color: var(--placeholder-text-color);

		&--error {
			color: var(--error-message-color);
		}
	}

	&__icon-root {
		display: flex;
    align-items: center;
		min-height: var(--cell-line-height);
	}

	&__clear-root,
	&__icon-container {
		line-height: inherit;
    vertical-align: middle;
		padding: 0 var(--tan-padding-xs);
		margin-right: calc(-1 * var(--tan-padding-xs));
	}

	&__clear-root,
  &__icon-container,
  &__button {
    flex-shrink: 0;
  }

	&__clear-root {
		font-size: var(--clear-icon-size);
		color: var(--clear-icon-color);
  }

	&__icon-container {
		color: var(--icon-container-color);
		font-size: var(--cell-icon-size);

		&:empty {
			display: none;
		}
	}

	&__button {
		padding-left: var(--tan-padding-xs);

		&:empty {
			display: none;
		}
	}

	&__error-message {
		text-align: left;
		font-size: var(--error-message-text-font-size);
		color: var(--error-message-color);

		&--center {
			text-align: center;
		}

		&--right {
			text-align: right;
		}
	}

	&__word-limit {
		text-align: right;
		margin-top: var(--tan-padding-base);
		color: var(--word-limit-color);
		font-size: var(--word-limit-font-size);
		line-height: var(--word-limit-line-height);
	}

	&__word-num {
		display: inline;

		&--full {
			color: var(--word-num-full-color);
		}
	}
}